{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div id="main">
    <div class="inner">
        <header>
            <h1>Sobre Hearthstone</h1>
            <p>
                En esta pagina vamos a encontrar informacion acerca del videojuego de cartas desarrollado por Blizzard llamado Hearthstone.
                Aqui vamos a poder encontrar todas las cartas que hay en el juego, incluyendo heroes, hechizos, esbirros... A continuacion tienes 3 opciones distintas para ver las cartas de Hearthstone:
            </p>
        </header>
        <section class="tiles">
            <article>
                <span class="image">
                    <img src="static/imagenes/pagina-cartas.jpg" alt="Imagen Hearthstone">
                </span>
                <a href="/todas_cartas/1">
                    <h2>Ver todas las cartas del juego</h2>
                </a>
            </article>
            <article>
                <span class="image">
                    <img src="static/imagenes/hearthstone-buscador.jpg" alt="Imagen buscador">
                </span>
                <a href="/buscador_cartas">
                    <h2>Buscador</h2>
                    </a>
            </article>
        </section>
    </div>
</div>
{% endblock %}